.textarea{
    position: relative;
    background-color: #40414f;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border-color: white bold 2px; */
    /* flex-direction: row; */
    /* align-items: center; */
}

.row{
    display: flex;
    background-color: #40414f;
}

.input {
    border-radius: 10px;
    width: 70%;
    min-height: 46px;
    max-height: 40%;
    overflow-y: auto;
    background-color: #565869;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 89.3%; 
    left: 15%; 
    border: none;
  }

  .ad{
    position: relative;
    top: 81%; 
    left: 82%;
    background-color: transparent;
    border: none;
    width:10px ;
    height: 40px;
    font-size: 18px;
    box-shadow: 11px 11px 11px rgba(0, 0, 0, 0.1);
  }

  .messagearea{
    /* align-items: center; */
    border: none;
    align-self: center;
    width: 90%;
    height: 85%;
    overflow-y: scroll;
  }

  .inputbutton{
    display: inline-block;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .tujamazaa{
    display: flex;
    flex-direction: column;

  }

